body, nav, ul, li, a  {margin: 0px; padding: 0px; border: 0px}
body {
   font-family: font-family:Arial, Helvetica, sans-serif; 
   background: #FFFFFF;}
a {text-decoration: none;}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    background: #FFF;
   
}
.toggleMenu {
    display:  none;
    background: #8E140C;
    padding: 10px 15px;
    color: #fff;
    border-radius:5px;
}
.nav {
     list-style: none;
     background:#8E140C;
     margin:10px 20px 0px 20px;   
     border:1px solid; 
     border-radius:5px;
     width:300px;
}

.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 5px 20px;
    color:#fff;
    border-radius:5px;
    font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); 
}

.nav li:hover {
    background: #CC0000;
    border-radius:5px;
}

.nav li li:hover {
    background: #376BAD
 }
    
.nav li {
    position: relative;
}
.nav > li {
    border-bottom: 2px solid #ffffff;
    border-right: 1px solid #104336;
    padding-right: 5px;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li > a:after{ content:''; position:absolute; border-right:1px solid; top:0px; bottom:0px; right:-2px; z-index:99; }

.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}

.nav > ul > li > a:after{ content:''; position:absolute; border-right:15px solid; top:0px; bottom:0px; right:-2px; z-index:99; }

.nav li li a {
    display: block;
    background: #B22222;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}

.nav li li a:hover {
	background:#FF3300;
}

.active {
    display: block;
}
.nav {
    border:0px solid;
}
.nav > li {
    float: none;
    border-top: 1px solid #104336;
 }

.nav > li > .parent {
    background-position: 95% 50%;
}

.nav ul {
    display: block;
    width: 100%;
}
.nav > li.hover > ul {
    position: static;
}
.nav a {
    padding: 15px 20px;
}

.centerDiv {
    width: 50%;
    margin: 0 auto; 
}
