body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}

.container
{
   display: inline-flex;
   margin-top:50px;
}

#wb_Image2
{
   position:absolute; 
   width:386px;
   height:730px;
   z-index:0;
   margin-left: 50px;
   margin-top: 20px;
}

#Image2
{
   width:386px;
   height:730px;
}

#navContainer
{
   position:relative;
   left:70px;
   z-index:10;
   top:150px;
}

.temperatureItem
{
   height:110px;
}

.temperatureContainer
{
   padding-top: 5px;
}

.TemperatureButtonBar
{
   display:inline-flex;
   padding-top: 5px;
}

#downTempBtn, #downTempBtn2
{
   margin-right: 3px;
}

.Editbox
{
   border: 3px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: 'Droid Sans';
   font-weight: bold;
   font-size: 19px;
   padding: 0px 5px 0px 0px;
   text-align: right;
   vertical-align: middle;
   -moz-box-shadow: 2px 2px 2px #000000;
   -webkit-box-shadow: 2px 2px 2px #000000;
   box-shadow: 2px 2px 2px #000000;
   width: 112px;
}

#powerBtn
{
   display: block;
   padding-left: 20px;
   margin-left: 20px;
   width: 100px;
}

#powerbuttonWrapper
{
   padding-top: 20px;
}

.wb_Text 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}

.wb_Text_house
{
   padding-top: 10px;
   text-align: left;
   margin-top: 10px;
}

.wb_Text div
{
   text-align: left;
   
}

.autoButton
{
   border: 1px #A9A9A9 solid;
   background-color: #0537FA;;
   color: #ffffff;
   font-family: 'Droid Sans';
   font-size: 16px;
   -moz-box-shadow: 2px 2px 2px #000000;
   -webkit-box-shadow: 2px 2px 2px #000000;
   box-shadow: 2px 2px 2px #000000;
   white-space: normal;
   width:60px;
   height:40px;
}

.houseButton
{
   border: 1px #A9A9A9 solid;
   background-color: #C0C0C0;
   color: #000000;
   font-family: 'Droid Sans';
   font-size: 16px;
   -moz-box-shadow: 2px 2px 2px #000000;
   -webkit-box-shadow: 2px 2px 2px #000000;
   box-shadow: 2px 2px 2px #000000;
   height:45px;
   min-width: 90px;
   margin-right: 5px;
}

.powerOn
{
   font-family: 'Droid Sans';
   font-size: 16px;
	background-color:#0537FA;
	color: #ffffff;
}

.powerOff
{
   font-family: 'Droid Sans';
   font-size: 16px;
	background-color:#666362;
	color: #000000;
}

.lightOn
{
   background-color:#CDBA0D;
   color: #ffffff;
}

.lightOff
{
   background-color:#C0C0C0;
   color: #000000;
}

.curtainOpen
{
   background-color:#176CEF;
   color: #ffffff;
}

.curtainClosed
{
   background-color:#C0C0C0;
   color: #000000;
}

.titleHeader
{
   color:#000000;
   font-family:'Droid Sans';
   font-size:20px;
   margin-left: 30px;
   margin-bottom: 10px;
   display:block;
}

#livingRoomTitle
{
   padding-top: 20px;
}

#kitchenTitle
{
   padding-top: 40px;
}

.houseHeader
{
   color:#000000;
   font-family:'Droid Sans';
   font-size:24px;
   margin-bottom: 10px;
}

.titleHeaderPhone
{
   color:#0537FA;
   font-family:'Droid Sans';
   font-size:21px;
   margin-left: 60px;
}

div.home
{
   display: block;
   margin-left: 250px;
   margin-top: 150px;
}

.thermoTitle {
  font-family: 'Droid Sans';
  font-size: 16px;
  margin-top: 10px;
}